.toggle-container {
  width: 139px;
  display: flex;

  border-radius: 6px;
}

.toggle-container__item {
  padding: 14px 0;
  flex-grow: 1;

  text-align: center;

  cursor: pointer;
}

.toggle-container__item--first {
  border: 1px solid #616186;
  border-right: 0;
  border-radius: 6px 0px 0px 6px;
}

.toggle-container__item--second {
  border: 1px solid #616186;
  border-left: 0;
  border-radius: 0px 6px 6px 0px;
}

.toggle-container__item--active {
  box-sizing: content-box;

  background-color: #28bd87;
  border: 1px solid #28bd87;
}
